<div ng-controller="dynamicSelectController"
     ng-class="{
        'has-error': hasError(),
        'has-success': hasSuccess(),
        'has-feedback': form.feedback !== false
    }"
    class="form-group">

    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>

    <div class="form-group">

        <!-- 1. NO Tagging -->
        <!-- NOTE: ng-if creates a new scope, so any change made in the child will obscure any parent scope var unless "dot rule" -->
        <ui-select
            ng-if="!(form.options.tagging||false)"
            ng-model="form.$$selectedObject"
            ng-disabled="form.disabled"
            theme="bootstrap"
            class="{{form.options.uiClass}}">

            <ui-select-match
                allow-clear="{{form.options.allowClear||false}}"
                placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select' | translate)}}">
                {{form.$$selectedObject.name}}
            </ui-select-match>

            <ui-select-choices
                refresh="populateTitleMap(form, $select.search)"
                refresh-delay="form.options.refreshDelay"
                group-by="form.options.groupBy"
                repeat="item in form.titleMap | propsFilter: {
                    name: $select.search,
                    description: (form.options.searchDescriptions===true ? $select.search :
                        'NOTSEARCHINGFORTHIS'
                    )
                }" > <!--TODO: add a track by here -->

                <div ng-bind-html="item.name | highlight: $select.search"></div>

                <div ng-if="item.description">
                    <span>
                        <small ng-bind-html="('' +
                            item.description |
                            highlight: ( form.options.searchDescriptions===true ?
                                $select.search :
                                'NOTSEARCHINGFORTHIS'
                                )
                            )">
                        </small>
                    </span>
                </div>
            </ui-select-choices>
        </ui-select>

        <!--repeat code because tagging does not display properly under group by -->

        <!-- 2. Tagging && !groupBy -->
        <ui-select
            ng-if="(form.options.tagging||false) && !(form.options.groupBy||false)"
            ng-model="form.$$selectedObject"
            ng-disabled="form.disabled"
            tagging="form.options.tagging||false"
            tagging-label="form.options.taggingLabel"
            tagging-tokens="form.options.taggingTokens"
            theme="bootstrap"
            class="{{form.options.uiClass}}">

            <ui-select-match
                placeholder="{{form.placeholder ||
                    form.schema.placeholder ||
                    ('placeholders.select' | translate)}}
                ">
                {{form.$$selectedObject.name}}&nbsp;
                <small>
                    {{(form.$$selectedObject.isTag===true ? form.options.taggingLabel : '')}}
                </small>
            </ui-select-match>

            <ui-select-choices
                refresh="populateTitleMap(form, $select.search)"
                refresh-delay="form.options.refreshDelay"
                repeat="item in form.titleMap | propsFilter: {
                    name: $select.search,
                    description: (form.options.searchDescription===true ? $select.search : 'NOTSEARCHINGFORTHIS'
                    )
                }" >

                <div
                    ng-if="item.isTag"
                    ng-bind-html="
                    '<div>' +
                        (item.name | highlight: $select.search) +
                         ' ' +
                         form.options.taggingLabel +
                     '</div>
                     <div class=&quot;divider&quot;></div>'">
                 </div>

                <div
                    ng-if="!item.isTag"
                    ng-bind-html="item.name + item.isTag| highlight: $select.search">
                </div>

                <div ng-if="item.description">
                    <span ng-bind-html="
                    '<small>' +
                        (''+item.description | highlight: (form.options.searchDescriptions===true ? $select.search : 'NOTSEARCHINGFORTHIS')) +
                    '</small>'">
                    </span>
                </div>
            </ui-select-choices>
        </ui-select>


         <!-- 3. Tagging && groupBy -->
        <ui-select
            ng-if="(form.options.tagging||false) && (form.options.groupBy || false)"
            ng-model="form.$$selectedObject"
            ng-disabled="form.disabled"
            on-select="$$value$$=$item.value"
            tagging="form.options.tagging||false"
            tagging-label="form.options.taggingLabel"
            tagging-tokens="form.options.taggingTokens"
            theme="bootstrap"
            class="{{form.options.uiClass}}">

            <ui-select-match
                placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select' | translate)}}">
                {{form.$$selectedObject.name}}&nbsp;
                <small>
                    {{(form.$$selectedObject.isTag===true ? form.options.taggingLabel : '')}}
                </small>
            </ui-select-match>

            <ui-select-choices
                group-by="form.options.groupBy"
                refresh="populateTitleMap(form, $select.search)"
                refresh-delay="form.options.refreshDelay"
                repeat="item in form.titleMap | propsFilter: {
                    name: $select.search,
                    description: (form.options.searchDescription===true ? $select.search : 'NOTSEARCHINGFORTHIS'
                    )
                }" >

                <div ng-if="item.isTag"
                    ng-bind-html="'<div>' + (item.name  | highlight: $select.search) + ' ' + form.options.taggingLabel + '</div><div class=&quot;divider&quot;></div>'">
                </div>

                <div ng-if="!item.isTag"
                    ng-bind-html="item.name + item.isTag| highlight: $select.search">
                </div>

                <div ng-if="item.description">
                    <span ng-bind-html="'<small>' + (''+item.description | highlight: (form.options.searchDescriptions===true ? $select.search : 'NOTSEARCHINGFORTHIS')) + '</small>'">
                    </span>
                </div>

            </ui-select-choices>
        </ui-select>

        <input
            type="hidden"
            name="{{form.key.slice(-1)[0]}}"
            toggle-single-model
                ng-model="$$value$$"
                form="form"
            sf-changed="form"
            schema-validate="form"/>

        <span
            ng-if="form.feedback !== false"
            ng-class="evalInScope(form.feedback) || {
                'glyphicon': true,
                'glyphicon-ok': hasSuccess(),
                'glyphicon-remove': hasError()
            }"
            class="form-control-feedback"
            id="{{form.key.slice(-1)[0] + 'Status'}}">
        </span>

        <div class="help-block" sf-message="form.description"></div>

    </div>
</div>
